@model ImageWeb.Models.SettingsModel

@{
    ViewBag.Title = "Home Page";
}
<p><h2>Config details</h2></p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceName)
        </th>
        <td>
            @Html.DisplayFor(model => model.SourceName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogName)
        </th>
        <td>
            @Html.DisplayFor(model => model.LogName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OutputDirName)
        </th>
        <td>
            @Html.DisplayFor(model => model.OutputDirName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailSize)
        </th>
        <td>
            @Html.DisplayFor(model => model.ThumbnailSize)
        </td>
    </tr>
</table>

<p><h2>Directories handlers</h2></p>

<div class="list-group">

    @foreach (var item in Model.Directories)
    {
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-handler="@item"
           data-target="#myModal"> @Html.DisplayFor(modelItem => item) </button>
    }
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the handler?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-warning" data-dismiss="modal">No</button>
                <input id ="yesBtn" type="button" class="btn btn-success" data-dismiss="modal" value="Yes" onclick="">
            </div>
        </div>

    </div>
</div>

<script>
    $('a[data-toggle="handler"]').on('shown.bs.tab', function (e) {
        e.target // newly activated tab
        e.relatedTarget // previous active tab
    })

    $('#myModal').on('shown.bs.modal',
        function () {
            $('#myInput').trigger('focus');
        });
    $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var handler = button.data('handler');
            var modal = $(this);

            // A workaround to pass JQuery parameter to Razor
            var url = '@Url.Action("DeleteHandler", "Home", new {directory = "__param__"})';
            var replacedUrl = url.replace('__param__', handler);

            // Sets "Yes" button onclick to delete corresponding handler
            var yesButton = modal.find('.modal-footer input');
            var noButton = modal.find('.modal-footer button');
            yesButton.click(function() {
                yesButton.attr("disabled", true);
                noButton.attr("disabled", true);
                location.href = replacedUrl;
            });
    });
</script>
