@model ImageWeb.Models.SettingsModel

@{
    ViewBag.Title = "Home Page";
}
<p><h2>Config details</h2></p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceName)
        </th>
        <td>
            @Html.DisplayFor(model => model.SourceName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogName)
        </th>
        <td>
            @Html.DisplayFor(model => model.LogName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OutputDirName)
        </th>
        <td>
            @Html.DisplayFor(model => model.OutputDirName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailSize)
        </th>
        <td>
            @Html.DisplayFor(model => model.ThumbnailSize)
        </td>
    </tr>
</table>

<p><h2>Directories handlers</h2></p>

<div class="list-group">

    @foreach (var item in Model.Directories)
    {
        <a href="#" type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-handler="@item"
           data-target="#myModal">@Html.DisplayFor(modelItem => item)</a>
    }
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the handler?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-warning" data-dismiss="modal">No</button>
                <button id ="yesBtn" type="button" class="btn btn-success" data-dismiss="modal" onclick=""> Yes </button>
            </div>
        </div>

    </div>
</div>

<script>
    $('#myModal').click(function (event) {
        var button = $(event.relatedTarget);
        var handler = button.data('handler');

        // A workaround to pass JQuery parameter to Razor
        var url = '@Url.Action("DeleteHandler", "HomeController", new {dirHandlerToDelete = "__param__"})';
        var replacedUrl = url.replace('__param__', handler);

    });
</script>
