@model ImageWeb.Models.LogModel

@{
ViewBag.Title = "Contact";
}

<p><label for="typeSelect">Choose the type of logs you want to see </label></p>
<label class="radio-inline"><input id="infoRd "type="radio" name="optradio" value="INFO">INFO</label>
<label class="radio-inline"><input id="warningRd" type="radio" name="optradio" value="WARNING">WARNING</label>
<label class="radio-inline"><input id="failRd" type="radio" name="optradio" value="FAIL">FAIL</label>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogEntries[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogEntries[0].Message)
        </th>
    </tr>

    @foreach (var item in Model.LogEntries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            if ($(this).is(':checked')) {
                var type = ($(this).val());
                var url = "@Url.Action("SelectedType", "Home", new { type = "__param__" })"
                var replacedUrl = url.replace("__param__", type);
                location.href = replacedUrl
            }
        });
    });
</script>
