@model ImageWeb.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}
<div>
    <p><h1>Welcome to ImageService</h1></p>
</div>



<h2>Details</h2>
<table class="table">
    <tr>
	    <th>
            <h5><b>Service status</b><h5>
        </th>
        <th>
            @if(Model.IsConnected){
                <h4><span class="badge badge-success">Active</span></h4>
			} else {
                <h4><span class="badge badge-danger">InActive</span></h4>
			}
        </th>
    </tr>
	<tr>
	    <th>
            <h5><b>Number of photos</b><h5>
        </th>
        <td>
			0
        </td>
    </tr>
</table>

<tr> </th>
<h2>Students</h2>

<table class="table">
    <tr>
	    <th>
            @Html.DisplayNameFor(model => model.Students[0].ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].LastName)
        </th>
    </tr>

@foreach (var item in Model.Students) {
    <tr>
		<td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
    </tr>
}
</table>

</div>
